body {
  background-color: green;
}

button {
  padding: 15px;
  background-color: black;
  color: white;
  border-radius: 8px;
  border: none;
  margin: 0 auto;
}

button:hover {
  cursor: pointer;
  background-color: #444;
}

button:active,
button:focus {
  outline: none;
}

.game-range {
  /* background-color: #333;
  color: white; */
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  width: 20%; /* Full-width */
  height: 25px; /* Specified height */
  background: #fff;
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
}

.game-range:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

.game-container {
  display: flex;
  flex-wrap: wrap;
}

.display-card {
  max-width: 25%;
  overflow: hidden;
}

img {
  width: 100%;
  object-fit: contain;
}
