* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: green;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  padding: 15px;
  background-color: black;
  color: white;
  border-radius: 8px;
  border: none;
  margin: 10px auto;
  font-family: Arial, Helvetica, sans-serif;
}

button:hover {
  cursor: pointer;
  background-color: #444;
}

button:active,
button:focus {
  outline: none;
}

.game-container {
  display: flex;
  flex-wrap: wrap;
}

.display-card {
  max-width: 25%;
  overflow: hidden;
}

img {
  width: 100%;
  object-fit: contain;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gameHeader {
  width: 100%;
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.gameScore {
  width: 100px;
  margin: 0 10px;
  color: white;
}

.bestScore {
  animation: 0.5s newBestScore linear;
  animation-iteration-count: 3;
}

@keyframes newBestScore {
  50% {
    transform: scale(1.5);
  }
}
